<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Electronics Shop{% endblock %}</title>
    <!-- Link to your external CSS file -->


    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>

    <header>
        <div class="container">
            <div class="logo">
                <img src="{% static 'images/logo.png' %}" alt="Electronics Shop Logo">
            </div>
            <nav>
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="#products">Products</a></li>
                    <li><a href="#categories">Categories</a></li>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Rest of your page content goes here -->

</body>

</html>
